<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatis-SpringDemo:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Mybatis_SpringDemo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Mybatis-SpringDemo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatis-SpringDemo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="commons-pool2-2.6.0" />
          <element id="library" level="project" name="commons-dbcp2-2.5.0" />
          <element id="library" level="project" name="ant-1.9.6" />
          <element id="library" level="project" name="standard-1.1.2" />
        </element>
      </element>
    </root>
  </artifact>
</component>